# Entity store user guide: http://docs.eventide-project.org/user-guide/entity-store/

module <%= component_constant_name %>
  class Store
    include EntityStore

    category :<%= entity_name %>
    entity <%= entity_constant_name %>
    projection Projection
    reader MessageStore::Postgres::Read, batch_size: 1000

    # Optional snapshotting
    # snapshot EntitySnapshot::Postgres, interval: 1000
  end
end
