source 'https://rubygems.org'

gemspec name: '<%= component_name %>'

gem 'evt-component_host'

gem 'evt-messaging-fixtures'
gem 'evt-entity_projection-fixtures'
gem 'evt-schema-fixtures'

gem 'test_bench'
